<h1>New Game</h1>

<% @letters.each do |letter| %>
  <%= letter %>
<% end %>

<% @start_time = Time.now %>
<form action="score" method="post" data-turbo="false" class="form-inline">
  <label for= "word">What's the longest word you can find?</label>
  <div class="input-group mb-3">
    <input type="text" name="word" class="form-control" placeholder="Your word">
    <div class="input-group-append">
      <button type="submit" value="word" class="btn btn-primary" type="button">Play</button>
    </div>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :start_time, @start_time %>
</form>
